# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist_electron
dist-ssr
neutralino/www/*
!neutralino/www/
neutralino/bin/
neutralino/.tmp/
bin/
data/
tmp/
*.local

# Laragon / App Config
user-config.json
laragon.ini

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
